.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

legend {
    border-bottom : 1px solid rgb(189, 189, 189);
    width: 100%;
	font-size: 25px;
	font-weight: bold;
}

.form-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.left-column {
	width : 50%;
	margin-right: 1%;
}

.right-column {
	width : 50%;
}

.left-column-checkbox {
	width : 20%;
	margin-top: 10px;
}

.right-column-checkbox {
	width : 80%;
}

.form-style-5 {
	width: 75%;
	padding: 10px 20px;
	background: #e4edf4;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
}

.form-style-5 fieldset {
	border: none;
}

.form-style-5 legend {
	margin-bottom: 10px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
	margin-top: 0;
}

.form-style-5 input,
.form-style-5 textarea,
.form-style-5 select {
	border: 1px solid #687477;
	border-radius: 4px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#72787c;
	margin-bottom: 30px;
}

.form-style-5 input:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
	background: #d2d9dd;
}
.form-style-5 select{
	height:40px;
}

.form-style-5 .number {
	background: #295767;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.332);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	margin: 0 auto;
	background: #57B3D4;
    border: none;
	text-align: center;
	width: 100%;
	transition: background-color 0.2s;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #295767;
}

.si-pp {
	display: none;
}
  
#a-cocher-pour-pp:checked ~  .si-pp {
display: block;
}

#case-oui {
	margin: 0;
	width: 75%;
}

#case-non {
	margin: 0;
}

.question-form {
	text-align: center;
	margin: 0;
	padding-bottom: 2%;
}

#case-pp {
	margin-left: 15%;
	width: 100%;
}

.erreur-inscription {
	color : white;
	background-color: #295767;
	width : 50%;
	margin-left: auto;
	margin-right: auto;
	padding : 1%;
	margin-top: 2%;
	border-radius: 40px;
	text-align: center;
}

.a-centrer {
	text-align: center;
}

.icone-type {
	width: 150px;
	height : auto;
}

textarea {
	resize: none;
}

#note {
	margin-left: 5px;
}
