#logo{
    display: block;
    width : 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding : 1%;
    background-color: #f7f3f5;
  }

.left-header{
    width: 25%;
}

#lien-logo{
    width: 100%;
}

#logo-connected{
    width: 100%;
}

.right-header{
    width: 10%;
}

#pp-connected{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 80%;
    border-radius: 100px;
    height: auto;
    border : 1px solid black;
}

#separator{
    width: 30%;
}

.a-centrer{
	text-align: center;
}