.onglet_form {
    background-color: #61c5dc;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.onglet_titre {
    background-color: #61c5dc;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;

}

@font-face {
    font-family: 'texte';
    src: url('OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'texte_titre';
    src: url('Say_Comic.ttf');
}

.texte_titre {
    font-family: texte_titre;
    color:white;
    font-size: 2rem;

}

.texte {
    font-family: texte;
    color: white;
    font-size: 1rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.star_img {
    height: 4rem;
    filter : invert(1);
}

input[type="submit"] {
    background-color: #57B3D4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.2s;
  }

input[type="submit"]:hover {
  background-color: #295767;
}