nav{
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index : 10;
}

.ul-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #57B3D4;
}

.li-navigation-threeparts {
  float: left;
  width: 33.33%;
}

#active{
  background-color: #295767;
}
  
.li-navigation-threeparts a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-variant-caps: small-caps;
}

.li-navigation-threeparts a:hover {
  background-color: #295767;
  color: white;
  text-decoration: none;
}

.li-navigation-twoparts {
  float: left;
  width: 50%;
}

.li-navigation-twoparts a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-variant-caps: small-caps;
}

.li-navigation-twoparts a:hover {
  background-color: #295767;
  color: white;
  text-decoration: none;
}

.li-navigation-fourparts {
  float: left;
  width: 25%;
}

.li-navigation-fourparts a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-variant-caps: small-caps;
}

.li-navigation-fourparts a:hover {
  background-color: #295767;
  color: white;
  text-decoration: none;
}
