.icone-type {
	width: 100px;
	height : auto;
}

.form-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    width: 125px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}

.left-column-checkbox{
	width : 30px;
	margin-top: 2px;
}

.right-column-checkbox{
	width : 100px;
}

.search-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.left{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}

.right{
	position: relative;
	width: 250px;
	height: 250px;
	margin-right: 20%;
}

input[type="submit"]{
    border : none;
    padding: 10px;
	width: 80px;
    border-radius: 8px;
    background-color: #295767;
    color : white;
    font-weight: 600;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	left: 75px;
	transition: background-color 0.2s;
}

input[type="submit"]:hover{
	background-color: #57B3D4;
}

input[type="search"]{
	border: 1px solid #687477;
	border-radius: 4px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#72787c;
}